---
title: Eliminate mistakes from your cover letters for job applications
author: A Grain of Salt
date: '2018-04-17'
categories:
  - automation
  - libre-office
tags:
  - automate-repetition
  - human-error
  - libre-writer
  - template
slug: eliminate-mistakes-from-your-cover-letters-for-job-applications
header:
  caption: 'Eliminate cover letter mistakes with template variables | A Grain of Salt'
  image: '../post/2018-04-17-eliminate-mistakes-from-your-cover-letters-for-job-applications_files/final.png'
summary: Eliminate cover letter mistakes with template variables
---



<p>Have you ever sent a job application only to realize that you said thank you to the wrong employer?</p>
<p>Libre Writer lets you easily create fancy looking cover letters (<a href="https://www.techrepublic.com/blog/linux-and-open-source/three-great-ways-to-use-variables-in-libreoffice-and-openoffice/">and other documents</a>) with variables such as <code>&lt;Employer&gt;</code> or <code>&lt;Skills&gt;</code> that will save you time and tears.</p>
<div id="learn-the-steps" class="section level1">
<h1>Learn the steps</h1>
<div id="make-a-table-in-a-new-libre-writer-document-3-columns-5-rows" class="section level2">
<h2><strong>Make a table</strong> in a new Libre Writer document (3 columns, 5 rows)</h2>
<div class="figure">
<img src="/post/2018-04-17-eliminate-mistakes-from-your-cover-letters-for-job-applications_files/table.png" title="table" />

</div>
<ol style="list-style-type: decimal">
<li>Install Libre Office</li>
<li>Open a new “Text Document”</li>
<li>Insert a Table (3 columns, 5 rows)
<ol style="list-style-type: decimal">
<li><code>Table &gt; Insert Table</code>
<ol style="list-style-type: decimal">
<li>Change values for <code>Columns</code> and <code>Rows</code> to 3 and 5, respectively</li>
<li>Check <code>Options: Heading</code></li>
<li>Click <code>Insert</code></li>
</ol></li>
</ol></li>
</ol>
</div>
<div id="make-a-cover-letter-on-the-following-page" class="section level2">
<h2><strong>Make a cover letter</strong> on the following page</h2>
<div class="figure">
<img src="/post/2018-04-17-eliminate-mistakes-from-your-cover-letters-for-job-applications_files/cover_letter.png" title="cover letter" />

</div>
<ol style="list-style-type: decimal">
<li>Add a page break to the line below the table
<ol style="list-style-type: decimal">
<li><code>Insert &gt; Page Break</code></li>
</ol></li>
<li><p>Add the cover letter, e.g.,</p>
<pre><code>Dear ,
I&#39;m applying for the   position.
My relevant skills are .
Sincerely,
Me</code></pre></li>
</ol>
</div>
<div id="update-your-table-with-column-names-and-your-first-variable" class="section level2">
<h2><strong>Update your table</strong> with column names and your first variable</h2>
<div class="figure">
<img src="/post/2018-04-17-eliminate-mistakes-from-your-cover-letters-for-job-applications_files/update_table_1.png" title="update table" />

</div>
<ol style="list-style-type: decimal">
<li>Name your Columns <code>Name</code>, <code>Value</code>, and <code>Options</code></li>
<li>In the next row, make a variable
<ol style="list-style-type: decimal">
<li>Name your variable
<ol style="list-style-type: decimal">
<li>Add “Dear_Person” under <code>Name</code></li>
</ol></li>
<li>Add the magic
<ol style="list-style-type: decimal">
<li>Move cursor under <code>Value</code></li>
<li><code>Insert &gt; Cross-reference</code></li>
<li>Select <code>Variables</code> tab</li>
<li>Select <code>User Field</code> under <code>Type</code> column</li>
<li>Select <code>Text</code> under <code>Format</code> column</li>
<li>Add “Dear_Person” to <code>Name</code> field</li>
<li>Click <code>Apply</code> [green check mark]</li>
<li>Select <code>Input field</code> under <code>Type</code> column</li>
<li>Add a useful prompt
<ol style="list-style-type: decimal">
<li>Add “Who are you writing to” in <code>Reference</code> field</li>
</ol></li>
<li>Click <code>Insert</code></li>
<li>Add a placeholder
<ol style="list-style-type: decimal">
<li>Add “ACME Corp Hiring Manager” to pop up box and click <code>OK</code></li>
</ol></li>
</ol></li>
</ol></li>
</ol>
</div>
<div id="add-the-variable-to-your-cover-letter" class="section level2">
<h2><strong>Add the variable</strong> to your cover letter</h2>
<div class="figure">
<img src="/post/2018-04-17-eliminate-mistakes-from-your-cover-letters-for-job-applications_files/update_cover_letter_1.png" title="update cover letter" />

</div>
<ol style="list-style-type: decimal">
<li>Place your cursor just before the “,” in “Dear ,”</li>
<li>Select <code>User Field</code> under <code>Type</code> column
<ul>
<li>If you do not see the <code>Type</code> column, please:
<ol style="list-style-type: decimal">
<li><code>Insert &gt; Cross-reference</code></li>
<li>Select <code>Variables</code> tab</li>
</ol></li>
</ul></li>
<li>Select <code>Dear_Person</code> under <code>Select</code> column</li>
<li>Click <code>Insert</code></li>
<li>Click <code>Close</code></li>
</ol>
<p>{{% alert warning %}} <strong>There is only 1 <code>Input Field</code> per variable in your template</strong>—this belongs <strong>in your table</strong>.</p>
<p>Your <strong>cover letter</strong> includes as many <code>User Fields</code> per variable as necessary. When writing a new cover letter, you only change the field values in the table and Libre Writer transfers those values to all the corresponding <code>User Fields</code> in the cover letter.</p>
<p><img src="/post/2018-04-17-eliminate-mistakes-from-your-cover-letters-for-job-applications_files/input_fields_to_user_fields.png" title="Input fields to User fields" /> {{% /alert %}}</p>
</div>
</div>
<div id="save-as-template" class="section level1">
<h1>Save as Template</h1>
<div class="figure">
<img src="/post/2018-04-17-eliminate-mistakes-from-your-cover-letters-for-job-applications_files/save_as_template.png" title="save as template" />

</div>
<ol style="list-style-type: decimal">
<li>Save this document as a template
<ol style="list-style-type: decimal">
<li><code>File &gt; Templates &gt; Save as Template</code></li>
<li>Add “Job application cover letter” to <code>Template Name</code> field</li>
<li>Select “My Templates” under <code>Template Category</code></li>
<li>Click <code>Save</code></li>
</ol></li>
</ol>
</div>
<div id="use-template" class="section level1">
<h1>Use Template</h1>
<div id="open-a-new-document-based-upon-your-template" class="section level2">
<h2><strong>Open a new document</strong> based upon your template</h2>
<ol style="list-style-type: decimal">
<li><code>File &gt; New &gt; Templates</code></li>
<li>Select “Job application cover letter”</li>
<li>Click <code>Open</code></li>
</ol>
</div>
<div id="update-all-input-fields" class="section level2">
<h2><strong>Update all input fields</strong></h2>
<div class="figure">
<img src="/post/2018-04-17-eliminate-mistakes-from-your-cover-letters-for-job-applications_files/update_input_fields.png" title="update input fields" />

</div>
<ol style="list-style-type: decimal">
<li>Update “ACME Corp Hiring Manager”</li>
<li>Click <code>Next</code></li>
<li>Repeat with other input fields until you have updated all of them</li>
</ol>
</div>
<div id="review-and-save-a-pdf-of-your-cover-letter" class="section level2">
<h2><strong>Review and save</strong> a <code>pdf</code> of your cover letter</h2>
<div class="figure">
<img src="/post/2018-04-17-eliminate-mistakes-from-your-cover-letters-for-job-applications_files/save_pdf.png" title="save pdf" />

</div>
<ol style="list-style-type: decimal">
<li><code>File &gt; Export As &gt; Export as PDF</code></li>
<li>Select only the cover letter (the last page)
<ol style="list-style-type: decimal">
<li>Select <code>Range: Pages</code> on <code>General</code> tab</li>
<li>Add “2” to <code>Pages</code> field (assuming your cover letter is on page 2)</li>
</ol></li>
<li>Click <code>Export</code></li>
<li>Provide the desired name (My Name - Date - ACME Corp POSITION) and file location</li>
<li>Click <code>Save</code></li>
</ol>
</div>
<div id="send-this-pdf-to-the-acme-corp" class="section level2">
<h2><strong>Send this <code>pdf</code></strong> to the ACME Corp</h2>
</div>
</div>
<div id="to-add-more-variables" class="section level1">
<h1>To add more variables</h1>
<p>Now you can update your template’s table with a row for “Position_Name”, “Skills”, and anything else you can automate.</p>
<p>Of course, you highlight a different mix of skills for each application. Use the <code>Options</code> column to hold a growing list of all your marketable skills as you write more cover letters and draw from that list for each new cover letter.</p>
<blockquote>
<p>Remember to open the Template for this step so that all changes will be available for future cover letters.</p>
</blockquote>
<ol style="list-style-type: decimal">
<li>Open the Template
<ol style="list-style-type: decimal">
<li>Open Libre Writer</li>
<li><code>File &gt; Templates &gt; Open Template</code></li>
</ol></li>
<li>Update the Template
<ol style="list-style-type: decimal">
<li>Add the variable to the table</li>
<li>Add the output variable to the correct position(s) in your cover letter</li>
</ol></li>
<li>Save the Template</li>
<li>Close the Template</li>
<li><a href="#use-template">Use the Template</a></li>
</ol>
<hr />
</div>
<div id="source" class="section level1">
<h1>Source</h1>
<p>To quickly begin, <a href="../../files/Job%20application%20cover%20letter.ott">download the simple Template described above</a>.</p>
</div>
<div id="tools-used" class="section level1">
<h1>Tools Used</h1>
<p><a href="https://www.libreoffice.org/download/download/">LibreOffice</a> v6.0.3.2</p>
</div>
