---
title: Reduce time making custom charts for quarterly reports
author: A Grain of Salt
date: '2018-04-23'
slug: reduce-time-making-custom-charts-for-quarterly-reports
categories:
  - automation
  - libre-office
tags:
  - automate-repetition
  - human-error
  - libre-calc
  - template
header:
  caption: 'Reduce time customizing charts with Pivot Charts | A Grain of Salt'
  image: '../post/2018-04-23-reduce-time-making-custom-charts-for-quarterly-reports_files/pivot_chart_template.png'
summary: Reduce time customizing charts with Pivot Charts
---



<p>Have you ever needed to make charts from a spreadsheet at work and spent an hour customizing details—and you did the same thing weeks or months ago?</p>
<p>Libre Calc lets you easily create fancy looking charts with a persistent style from your Pivot Tables that will save you time and tears. All you need to do is update the data and refresh the Pivot Table and your chart is ready.</p>
<div id="learn-the-steps" class="section level1">
<h1>Learn the steps</h1>
<div id="make-a-pivot-table-in-a-new-libre-calc-document" class="section level2">
<h2><strong>Make a Pivot Table</strong> in a new Libre Calc document</h2>
<div class="figure">
<img src="/post/2018-04-23-reduce-time-making-custom-charts-for-quarterly-reports_files/initial_spreadsheet.png" title="initial_spreadsheet" />

</div>
<ol style="list-style-type: decimal">
<li>Install Libre Office</li>
<li>Open a new “Spreadsheet”</li>
<li>Paste your data
<ol style="list-style-type: decimal">
<li>Select cell <code>A1</code></li>
<li><code>Edit &gt; Paste</code> (or try <code>Edit &gt; Paste Unformatted Text</code>)</li>
</ol></li>
<li>Select your data</li>
<li><code>Data &gt; Pivot Table &gt; Create</code></li>
<li>Click <code>OK</code> <img src="/post/2018-04-23-reduce-time-making-custom-charts-for-quarterly-reports_files/pivot_table_layout.png" title="pivot_table_layout" width="500" /></li>
<li>Drag <code>Customer</code> from <code>Available Fields:</code> column to <code>Row Fields:</code> box</li>
<li>Drag <code>Cost</code> from <code>Available Fields:</code> column to <code>Data Fields:</code> box</li>
<li>Click <code>Source and Destination</code></li>
<li>Add padding to your data (e.g., <code>A1</code> to <code>K30</code>)
<ol style="list-style-type: decimal">
<li>Today you may only need to chart data in cells <code>A1</code> to <code>F20</code>, but tomorrow you may have added new rows and/or columns</li>
</ol></li>
<li>Click <code>OK</code></li>
</ol>
<div class="figure">
<img src="/post/2018-04-23-reduce-time-making-custom-charts-for-quarterly-reports_files/pivot_table.png" title="pivot_table" width="500" />

</div>
</div>
<div id="make-a-pivot-chart-from-your-pivot-table" class="section level2">
<h2><strong>Make a Pivot Chart</strong> from your Pivot Table</h2>
<div class="figure">
<img src="/post/2018-04-23-reduce-time-making-custom-charts-for-quarterly-reports_files/chart_wizard_2.png" title="chart_wizard_2" />

</div>
<ol style="list-style-type: decimal">
<li><code>Insert &gt; Chart</code>
<ul>
<li>If this does not chart the desired data:
<ol style="list-style-type: decimal">
<li>Click <code>Cancel</code></li>
<li>Select any cell in your Pivot Table</li>
<li><code>Insert &gt; Chart</code></li>
</ol></li>
</ul></li>
<li>Select a chart type in the <code>Choose a Chart Type</code> column</li>
<li>Click <code>Next</code></li>
<li>Update Title, labels for axes, and other settings</li>
<li>Click <code>Finish</code></li>
</ol>
</div>
<div id="customize-the-pivot-chart-to-match-style-guidelines" class="section level2">
<h2><strong>Customize the Pivot Chart</strong> to match style guidelines</h2>
<div class="figure">
<img src="/post/2018-04-23-reduce-time-making-custom-charts-for-quarterly-reports_files/format_data_labels_1.png" title="format_data_labels_1" />

</div>
<ol style="list-style-type: decimal">
<li>Add data labels
<ol style="list-style-type: decimal">
<li>Right-click a data series</li>
<li><code>Insert Data Labels</code> <img src="/post/2018-04-23-reduce-time-making-custom-charts-for-quarterly-reports_files/format_data_labels_2.png" title="format_data_labels_2" /></li>
</ol></li>
<li>Format data labels
<ol style="list-style-type: decimal">
<li>Double-click new data labels</li>
<li>Select <code>Data Labels</code> tab</li>
<li>Click <code>Number format...</code></li>
<li>Uncheck <code>Source format</code></li>
<li>Select <code>Currency</code> in <code>Category</code> column</li>
<li>Click <code>OK</code></li>
<li>Click <code>OK</code> <img src="/post/2018-04-23-reduce-time-making-custom-charts-for-quarterly-reports_files/format_axes_numbers.png" title="format_axes_numbers" /></li>
</ol></li>
<li>Format axes numbers
<ol style="list-style-type: decimal">
<li>Double-click y-axis numbers</li>
<li>Select <code>Numbers</code> tab</li>
<li>Uncheck <code>Source format</code></li>
<li>Select <code>Currency</code> in <code>Category</code> column</li>
<li>Click <code>OK</code> <img src="/post/2018-04-23-reduce-time-making-custom-charts-for-quarterly-reports_files/pivot_chart_template.png" title="pivot_chart_template" /></li>
</ol></li>
<li>Rename the tab to something meaningful
<ol style="list-style-type: decimal">
<li>Update the name of the tab from <code>Pivot Table_Sheet1_1</code> to <code>Customer Spending</code></li>
</ol></li>
</ol>
</div>
</div>
<div id="save-as-template" class="section level1">
<h1>Save as Template</h1>
<div class="figure">
<img src="/post/2018-04-23-reduce-time-making-custom-charts-for-quarterly-reports_files/save_template.png" title="save as template" />

</div>
<ol style="list-style-type: decimal">
<li>Save this document as a template
<ol style="list-style-type: decimal">
<li>Select a cell in the spreadsheet to unselect the chart</li>
<li><code>File &gt; Templates &gt; Save as Template</code></li>
<li>Add “Quarterly reports charts” to <code>Template Name</code> field</li>
<li>Select “My Templates” under <code>Template Category</code></li>
<li>Click <code>Save</code></li>
</ol></li>
</ol>
</div>
<div id="use-template" class="section level1">
<h1>Use Template</h1>
<div id="open-a-new-document-based-upon-your-template" class="section level2">
<h2><strong>Open a new document</strong> based upon your template</h2>
<ol style="list-style-type: decimal">
<li><code>File &gt; New &gt; Templates</code></li>
<li>Select “Quarterly reports charts”</li>
<li>Click <code>Open</code></li>
</ol>
</div>
<div id="update-data" class="section level2">
<h2><strong>Update data</strong></h2>
<div class="figure">
<img src="/post/2018-04-23-reduce-time-making-custom-charts-for-quarterly-reports_files/charlies_purchase.png" title="charlies purchase" />

</div>
<p>E.g., Charlie made a large purchase since you last published a report</p>
<ol style="list-style-type: decimal">
<li>Paste your data into <code>Sheet1</code> tab
<ol style="list-style-type: decimal">
<li><code>Edit &gt; Paste</code> (or try <code>Edit &gt; Paste Unformatted Text</code>)</li>
</ol></li>
</ol>
</div>
<div id="refresh-chart-to-match-desired-data" class="section level2">
<h2><strong>Refresh chart</strong> to match desired data</h2>
<div class="figure">
<img src="/post/2018-04-23-reduce-time-making-custom-charts-for-quarterly-reports_files/refresh_chart.png" title="refresh chart" />

</div>
<ol style="list-style-type: decimal">
<li>Select any cell in your Pivot Table on <code>Customer Spending</code> tab</li>
<li><code>Data &gt; Pivot Table &gt; Refresh</code></li>
</ol>
</div>
<div id="update-chart-to-match-desired-data" class="section level2">
<h2><strong>Update chart</strong> to match desired data</h2>
<div class="figure">
<img src="/post/2018-04-23-reduce-time-making-custom-charts-for-quarterly-reports_files/unselect_alex.png" title="unselect alex" />

</div>
<p>E.g., show only data for Betty and Charlie</p>
<ol style="list-style-type: decimal">
<li>Double-click the <code>Customer</code> box in the chart</li>
<li>Unselect “Alex”</li>
<li>Click <code>OK</code></li>
</ol>
</div>
<div id="save-and-copy-this-chart-to-your-report" class="section level2">
<h2><strong>Save and copy</strong> this chart to your report</h2>
<div class="figure">
<img src="/post/2018-04-23-reduce-time-making-custom-charts-for-quarterly-reports_files/quarterly_report.png" title="quarterly_report" />

</div>
<ol style="list-style-type: decimal">
<li><code>File &gt; Save As</code></li>
<li>Provide the desired name (Quarterly Report Charts - 2020 Q4) and file location</li>
<li>Click <code>Save</code></li>
<li>Select the chart</li>
<li><code>Edit &gt; Copy</code></li>
<li>Paste into your report
<ul>
<li>Note the <code>Customer</code> and <code>Data</code> boxes are not copied</li>
</ul></li>
</ol>
<hr />
</div>
</div>
<div id="source" class="section level1">
<h1>Source</h1>
<p>To quickly begin, <a href="../../files/Quarterly%20reports%20charts.ots">download the simple Template described above</a>.</p>
</div>
<div id="tools-used" class="section level1">
<h1>Tools Used</h1>
<p><a href="https://www.libreoffice.org/download/download/">LibreOffice</a> v6.0.3.2</p>
</div>
